body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}
header {
    background-color: #2ba2dd;
    color: #fff;
    padding: 10px;
}
h1 {
    text-align: center;
    font-size: 40px;
    margin-top: -80px;
    margin-left: auto;
}
.logo {
    max-width: 300px;
    height: 170px;
    margin-top: 10px;
    margin-left: -10px;
}
.logoket {
    max-width: 300px;
    height: 170px;
    margin-top: -100%;
    margin-left: -1300px;
}
nav {
    background-color: #ce0f0f;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 50px;
}
nav a:hover {
    background-color: #333; 
}
section {
    font-size: 150%;
    padding: 90px;
    margin-top: -100px;
}
footer {
    background-color: #393030;
    color: #dfcfcf;
    text-align: center;
    padding: -25px;
    bottom: 0;
    width: 1470px;
    height: 170px;
    font-size: 15px;
}
.ketthuc {
    margin-left: 20%;
}
.dong1{
    text-align: justify;
    text-align: justify;
}


.schedule {
    text-align: justify;
    font-size: 20px;
}

.b1 {
    font-size: 20px;
    text-align: center;
  
}
.b2{
    font-size: 20px;
    text-align: justify
   
}
.b3{
    font-size: 20px;
    text-align: justify;
   
}
.b4{
    text-align: center;
    text-align: justify;
}
.anh1{
    text-align: center;
}
.anh2{
    text-align: center;
    margin-left: 150px;
}
.anh3{
    text-align: center;
    margin-left: 150px;
}
.anh4{
    text-align: center;
    margin-left: 150px;
}
.anh5{
    margin-left: 150px;
    text-align: center;
}
.anh6{
    text-align: center;
    margin-left: 150px;
}
.anh7{
    text-align: center;
    margin-left: 150px;
}
.dong6{
    text-align: center;
    font-size: 30px;
}
.dong7{
    font-size: 30px;
    text-align: center;
}
.dong8{
    font-size: 20px;
    text-align: justify;
}
.dong9{
    font-size: 20px;
    text-align: justify;
}
.dong10{
    font-size: 30px;
    text-align: center;
}
.dong11{
    font-size: 20px;
    text-align: justify;
}
.dong12{
    font-size: 20px;
    text-align: justify;
}
