body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}
header {
    background-color: #2ba2dd;
    color: #fff;
    padding: 10px;
}
h1 {
    text-align: center;
    font-size: 40px;
    margin-top: -80px;
    margin-left: auto;
}
.logo {
    max-width: 300px;
    height: 170px;
    margin-top: 10px;
    margin-left: -10px;
}
.logoket {
    max-width: 300px;
    height: 170px;
    margin-top: -100%;
    margin-left: -1300px;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.box-menu{
    background-color: #DC2323;
    text-align: center;
}
.box-menu nav{
    display: inline-flex;
   list-style: none;
   color: #fff;
}
.box-menu nav li{
    width: 125px;
    padding: 5px;
    margin: 20px;
}
.box-menu nav li a{
    color: #fff;
    text-decoration: none;
}
.active,.box-menu nav li:hover{
    background-color:#B54B2E;
    border-radius: 3px;
}
.box-menu{
    margin: 5px;
}
.box-submenu{
    display: none;
    text-decoration: none;
}
.box-menu nav li:hover .box-submenu{
    display: block;
    position: absolute;
    background: #B54B2E;
    margin-top: 15px;
    margin-left: -15px;
}
.box-menu nav li:hover .box-submenu nav{
    display: block;
    margin: 0px;
    padding: 0px;
}
.box-menu nav li:hover .box-submenu nav li{
    width: 220px;
    text-align: left;
    border-bottom: dotted 1px #fff;
    background: transparent;
    border-radius: 0;
    padding: 10px;
    margin: 10px;
}
.box-menu nav li:hover .box-submenu nav li:last-child{
border-bottom: none;
}
.box-menu nav li:hover .box-submenu nav li a:hover{
    color: yellowgreen;
}
.fa-angle-right{
    float: right;
}
.box-submenu-2{
    display: none;
}
.submenu-hover:hover .box-submenu-2{
    display: block;
    position: absolute;
    margin-top: -55px;
    margin-left: 140px;
    background: #DC2323;
}
section {
    font-size: 150%;
    padding: 90px;
    margin-top: -100px;
}
footer {
    background-color: #393030;
    color: #dfcfcf;
    text-align: center;
    padding: -25px;
    bottom: 0;
    width: 1470px;
    height: 170px;
    font-size: 15px;
}
.ketthuc {
    margin-left: 20%;
}

.dong1{
    text-align: justify;
}
.schedule {
    text-align: justify;
    font-size: 20px;
}

.b1 {
    font-size: 20px;
    text-align: center;
  
}
.b2{
    font-size: 20px;
    text-align: justify
   
}
.b3{
    font-size: 20px;
    text-align: justify;
   
}
.b4{
    text-align: center;
    text-align: justify;
}
.anh1{
    text-align: center;
}
.anh2{
    text-align: center;
    margin-left: 150px;
}
.anh3{
    text-align: center;
    margin-left: 150px;
}
.anh4{
    text-align: center;
    margin-left: 150px;
}
.anh5{
    margin-left: 150px;
    text-align: center;
}
.anh6{
    text-align: center;
    margin-left: 150px;
}
.anh7{
    text-align: center;
    margin-left: 150px;
}
.dong6{
    text-align: center;
    font-size: 30px;
}
.dong7{
    font-size: 30px;
    text-align: center;
}
.dong8{
    font-size: 20px;
    text-align: justify;
}
.dong9{
    font-size: 20px;
    text-align: justify;
}
.dong10{
    font-size: 30px;
    text-align: center;
}
.dong11{
    font-size: 20px;
    text-align: justify;
}
.dong12{
    font-size: 20px;
    text-align: justify;
}
.dong13 {
    font-size: 20px;
    text-align: justify;
}
.dong14{
    font-size: 20px;
    text-align: justify;
}
.dong15{
    font-size: 20px;
    text-align: justify;
}
.anh8 {
    text-align: center;
    margin-left: 150px;
}
.anh9 {
    text-align: center;
    margin-left: 150px;
}
.anh10 {
    text-align: center;
    margin-left: 150px;
}
.anh11 {
    text-align: center;
    margin-left: 150px;
}
.anh12 {
    text-align: center;
    margin-left: 150px;
}
.anh13 {
    text-align: center;
    margin-left: 150px;
}
.anh14 {
    text-align: center;
    margin-left: 150px;
}
.anh15 {
    text-align: center;
    margin-left: 150px;
}
.anh16 {
    text-align: center;
    margin-left: 150px;
}
.anh17 {
    text-align: center;
    margin-left: 150px;
}
.anh18 {
    text-align: center;
    margin-left: 150px;
}
.dong16 {
    font-size: 20px;
    text-align: justify;
}
.dong17 {
    font-size: 20px;
    text-align: justify;
}
.dong18 {
    font-size: 20px;
    text-align: justify;
}
.dong19 {
    font-size: 20px;
    text-align: justify;
}
.dong20 {
    font-size: 20px;
    text-align: justify;
}
.dong21 {
    font-size: 20px;
    text-align: justify;
}
.dong22 {
    font-size: 20px;
    text-align: justify;
}
.dong23 {
    font-size: 20px;
    text-align: justify;
}
.dong24 {
    font-size: 20px;
    text-align: justify;
}
.dong25 {
    font-size: 20px;
    text-align: justify;
}
.dong26 {
    font-size: 20px;
    text-align: justify;
}
.dong27 {
    font-size: 20px;
    text-align: justify;
}
.dong28 {
    font-size: 20px;
    text-align: justify;
}
.dong29 {
    font-size: 20px;
    text-align: justify;
}
.dong30 {
    font-size: 20px;
    text-align: justify;
}
.lich {
    letter-spacing:1px;
    text-align: justify;
    margin-top: 15px
}
.lich2 {
    letter-spacing:1px;
    text-align: justify;
    margin-top: 15px
}